In [1]:
import re
import csv
import requests
import json
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import time

In [2]:
rev = pd.read_csv("/home/ec2-user/SageMaker/bucket/wiki_trust/modeling/rev_id_list.txt",sep='\t')
del rev['Unnamed: 0'] 
rev.head()

                            username     rev_id
0                          $targlass  821350201
1  'lllllllllllllllllllllllllllllll'  831073982
2  'lllllllllllllllllllllllllllllll'  831059743
3  'lllllllllllllllllllllllllllllll'  831059095
4                        (127.0.0.1)  842665329

In [3]:
rev.shape

(319512, 2)

### Testing for 1 user rev

In [4]:
user = '821350201'

In [5]:
new_url = 'https://ores.wikimedia.org/scores/enwiki/?models=damaging|goodfaith&revids='+user
new_url

'https://ores.wikimedia.org/scores/enwiki/?models=damaging|goodfaith&revids=821350201'

In [6]:
response = requests.get(new_url)
model_val = json.loads(response.text)
model_val

{'821350201': {'damaging': {'prediction': False,
   'probability': {'false': 0.9699778892213984, 'true': 0.030022110778601598}},
  'goodfaith': {'prediction': True,
   'probability': {'false': 0.01662229525825354, 'true': 0.9833777047417465}}}}

In [7]:
type(model_val)

dict

In [8]:
model_val[user]['damaging']['probability']['true']

0.030022110778601598

In [9]:
model_val[user]['goodfaith']['probability']['true']

0.9833777047417465

### Iterating for all user revisions

In [10]:
rev = rev.iloc[:50000,]
rev

                                                username     rev_id
0                                              $targlass  821350201
1                      'lllllllllllllllllllllllllllllll'  831073982
2                      'lllllllllllllllllllllllllllllll'  831059743
3                      'lllllllllllllllllllllllllllllll'  831059095
4                                            (127.0.0.1)  842665329
5                                            (127.0.0.1)  842663486
6                                            (127.0.0.1)  842660787
7                                            (127.0.0.1)  842486556
8                                            (127.0.0.1)  481089675
9                                            (127.0.0.1)  481076069
10                                           (127.0.0.1)  481074362
11                                               (35)moo  795275065
12                                               (35)moo  793991634
13                                    (TIB1017DTIB1018B)  790516268
14                                    (TIB1017DTIB1018B)  790516137
15                                    (TIB1017DTIB1018B)  790515530
16                                  (TIB1024H) (Volgren)  790178670
17     (TIB1041HTIB1042ETIB1043CTIB1044ATIB1045YTIB10...  791441978
18     (TIB626CTIB627ATIB628YTIB629UTIB630PTIB631LTIB...  797446315
19                 (TIB828LTIB829JTIB830DTIB831BTIB832Z)  795608140
20     (TIB994PTIB995LTIB996JTIB997GTIB998DTIB999BTIB...  790346631
21                                         (TPD ACB EMD)  772905194
22                                         (TPD ACB EMD)  772904985
23                                         (TPD ACB EMD)  772904935
24                                         (TPD ACB EMD)  772904818
25     (TSB-31535128128420450420428438348348242482485...  799192071
26     (TSB-96196186486846064044384354684083403043048...  797755647
27     (TSB-98468438648645345348348248248648384384282...  799189788
28     (TSB-98989898959359343848438468678378728872402...  799193419
29     (TSB-98989898959359343848438468678378728872402...  799193386
...                                                  ...        ...
49970                                      Sein und Zeit  794745905
49971                                      Sein und Zeit  794745866
49972                                      Sein und Zeit  794226672
49973                                      Sein und Zeit  793981074
49974                                      Sein und Zeit  792276651
49975                                      Sein und Zeit  792276624
49976                                      Sein und Zeit  791834626
49977                                            FiendYT  875969076
49978                                            FiendYT  875534317
49979                                            FiendYT  875534293
49980                                            FiendYT  875534244
49981                                            FiendYT  875533323
49982                                            FiendYT  875449150
49983                                            FiendYT  875449129
49984                                          Vailskbum  821355108
49985                                          Vailskbum  820106238
49986                                            ששש.מ.ל  852801427
49987                                            ששש.מ.ל  852702133
49988                                        OhioOakTree  811102848
49989                                        OhioOakTree  789228505
49990                                        OhioOakTree  788798911
49991                                        OhioOakTree  787564549
49992                                        OhioOakTree  787564196
49993                                        OhioOakTree  787563667
49994                                        OhioOakTree  786673985
49995                                        OhioOakTree  786380804
49996                                        OhioOakTree  783987301
49997                                        OhioOakTree  783168291
49998                                     Miracleboywork  768525879
49999                                        GuyPerson01  813553962

[50000 rows x 2 columns]

In [11]:
rev['damaging'] = ''
rev['goodFaith'] = ''
rev.head()

                            username     rev_id damaging goodFaith
0                          $targlass  821350201
1  'lllllllllllllllllllllllllllllll'  831073982
2  'lllllllllllllllllllllllllllllll'  831059743
3  'lllllllllllllllllllllllllllllll'  831059095
4                        (127.0.0.1)  842665329

In [12]:
ex_list1 = []
ex_list2 = []
ex_list3 = []

In [13]:
start = time.time()
for index,row in rev.iterrows():
    revision = str(row['rev_id'])
    new_url = 'https://ores.wikimedia.org/scores/enwiki/?models=damaging|goodfaith&revids='+revision
    dam = 0.0
    gf = 0.0
    try:
        response = requests.get(new_url)
        model_val = json.loads(response.text)
    except:
        ex_list1.append(revision)
        
    try:
        dam = model_val[revision]['damaging']['probability']['true']
    except:
        ex_list2.append(revision)
        dam = 1.0
        
    try:
        gf = model_val[revision]['goodfaith']['probability']['true']
    except:
        ex_list3.append(revision)
        
    rev.at[index,'damaging'] = dam
    rev.at[index,'goodFaith'] = gf
end = time.time()

In [14]:
print(end - start)

25861.693974494934

In [15]:
rev

,username,rev_id,damaging,goodFaith
0,$targlass,821350201,0.0300221,0.983378
1,'lllllllllllllllllllllllllllllll',831073982,0.0250485,0.981712
2,'lllllllllllllllllllllllllllllll',831059743,0.075616,0.971056
3,'lllllllllllllllllllllllllllllll',831059095,0.0944695,0.956036
4,(127.0.0.1),842665329,0.0242315,0.983864
5,(127.0.0.1),842663486,0.00552805,0.995399
6,(127.0.0.1),842660787,0.00746919,0.993269
7,(127.0.0.1),842486556,0.00657261,0.994693
8,(127.0.0.1),481089675,0.0175153,0.983735
9,(127.0.0.1),481076069,0.0150771,0.987699
10,(127.0.0.1),481074362,0.0142564,0.98923
11,(35)moo,795275065,0.289374,0.722959
12,(35)moo,793991634,0.184357,0.841759
13,(TIB1017DTIB1018B),790516268,0.0231463,0.984865
14,(TIB1017DTIB1018B),790516137,0.0287227,0.979637
15,(TIB1017DTIB1018B),790515530,0.0833004,0.955995
16,(TIB1024H) (Volgren),790178670,0.793354,0.42218
17,(TIB1041HTIB1042ETIB1043CTIB1044ATIB1045YTIB10...,791441978,0.0298931,0.983119
18,(TIB626CTIB627ATIB628YTIB629UTIB630PTIB631LTIB...,797446315,0.102809,0.936342
19,(TIB828LTIB829JTIB830DTIB831BTIB832Z),795608140,0.0823115,0.920154
20,(TIB994PTIB995LTIB996JTIB997GTIB998DTIB999BTIB...,790346631,0.0367919,0.984622
21,(TPD ACB EMD),772905194,0.478504,0.515168
22,(TPD ACB EMD),772904985,0.0615276,0.982298
23,(TPD ACB EMD),772904935,0.0615276,0.982164
24,(TPD ACB EMD),772904818,0.0837326,0.971354
25,(TSB-31535128128420450420428438348348242482485...,799192071,0.170166,0.880633
26,(TSB-96196186486846064044384354684083403043048...,797755647,0.0278752,0.978208
27,(TSB-98468438648645345348348248248648384384282...,799189788,0.0427437,0.983711
28,(TSB-98989898959359343848438468678378728872402...,799193419,0.169482,0.892108
29,(TSB-98989898959359343848438468678378728872402...,799193386,0.132296,0.910008
...,...,...,...,...
49970,Sein und Zeit,794745905,0.0289849,0.990771
49971,Sein und Zeit,794745866,0.00992559,0.993542
49972,Sein und Zeit,794226672,0.00705107,0.995699
49973,Sein und Zeit,793981074,0.00996197,0.994435
49974,Sein und Zeit,792276651,0.0556916,0.956964
49975,Sein und Zeit,792276624,0.0145652,0.986284
49976,Sein und Zeit,791834626,0.0107333,0.98871
49977,FiendYT,875969076,0.0025508,0.998017
49978,FiendYT,875534317,0.00309591,0.997407
49979,FiendYT,875534293,0.0163694,0.988125
49980,FiendYT,875534244,0.00416989,0.997001
49981,FiendYT,875533323,0.00393328,0.996634
49982,FiendYT,875449150,0.0145188,0.990937
49983,FiendYT,875449129,0.00584006,0.994282
49984,Vailskbum,821355108,0.0205859,0.984828
49985,Vailskbum,820106238,0.0205021,0.982851
49986,ששש.מ.ל,852801427,0.0233188,0.979084
49987,ששש.מ.ל,852702133,0.0155063,0.987078
49988,OhioOakTree,811102848,0.0097116,0.992448
49989,OhioOakTree,789228505,0.00684575,0.995122
49990,OhioOakTree,788798911,0.010453,0.994513
49991,OhioOakTree,787564549,0.0085728,0.996459
49992,OhioOakTree,787564196,0.0088483,0.995259
49993,OhioOakTree,787563667,0.0111565,0.994358
49994,OhioOakTree,786673985,0.0133818,0.992945
49995,OhioOakTree,786380804,0.00976385,0.994397
49996,OhioOakTree,783987301,0.00749119,0.990446
49997,OhioOakTree,783168291,0.0107273,0.991622
49998,Miracleboywork,768525879,0.0877367,0.908522
49999,GuyPerson01,813553962,0.0620685,0.971351

In [16]:
print(len(ex_list1))
ex_list1

0

[]

In [17]:
print(len(ex_list2))
ex_list2

58

['714603844',
 '440601915',
 '704763278',
 '854986436',
 '610796584',
 '469414394',
 '847937302',
 '790494753',
 '790494694',
 '790494676',
 '790494643',
 '790494610',
 '790494519',
 '790494487',
 '790494328',
 '790494299',
 '790494259',
 '790494225',
 '790494194',
 '168719494',
 '669017753',
 '781391523',
 '789235322',
 '848080338',
 '844152387',
 '824482298',
 '768988056',
 '803517253',
 '781124042',
 '781123547',
 '822822408',
 '822838810',
 '822838803',
 '822838652',
 '822838640',
 '822838630',
 '822838622',
 '822838277',
 '822837875',
 '822837493',
 '837296136',
 '809593674',
 '809593597',
 '790466285',
 '790444704',
 '790432922',
 '790404858',
 '790339040',
 '790324943',
 '841103701',
 '776470101',
 '790810327',
 '804732126',
 '846686729',
 '809336941',
 '788058253',
 '848247271',
 '851904119']

In [18]:
print(len(ex_list3))
ex_list3

58

['714603844',
 '440601915',
 '704763278',
 '854986436',
 '610796584',
 '469414394',
 '847937302',
 '790494753',
 '790494694',
 '790494676',
 '790494643',
 '790494610',
 '790494519',
 '790494487',
 '790494328',
 '790494299',
 '790494259',
 '790494225',
 '790494194',
 '168719494',
 '669017753',
 '781391523',
 '789235322',
 '848080338',
 '844152387',
 '824482298',
 '768988056',
 '803517253',
 '781124042',
 '781123547',
 '822822408',
 '822838810',
 '822838803',
 '822838652',
 '822838640',
 '822838630',
 '822838622',
 '822838277',
 '822837875',
 '822837493',
 '837296136',
 '809593674',
 '809593597',
 '790466285',
 '790444704',
 '790432922',
 '790404858',
 '790339040',
 '790324943',
 '841103701',
 '776470101',
 '790810327',
 '804732126',
 '846686729',
 '809336941',
 '788058253',
 '848247271',
 '851904119']

In [19]:
rev.to_csv('/home/ec2-user/SageMaker/bucket/wiki_trust/revisions_data/csvs_stored/ores_rev_1.csv')

In [20]:
pd.DataFrame(ex_list3).to_csv('/home/ec2-user/SageMaker/bucket/wiki_trust/revisions_data/csvs_stored/ores_rev_1_exc.csv')